<md-toolbar layout="row"  >
    <div class="md-toolbar-tools">
        <md-button class="menu" ng-click="toggleLeft()" aria-label="Show User List">
            <ng-md-icon icon="menu" style="fill:white"></ng-md-icon>
        </md-button>
        <h2>
            <span>Meteor Say done</span>
        </h2>
        <span flex></span>
        <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
        <meteor-include src="loginButtons"></meteor-include>
        <span flex></span>
        <!--<md-button class="md-button">-->
            <!--login-->
        <!--</md-button>-->
    </div>
</md-toolbar>


<!--Search toolbar-->
<md-toolbar layout="row" ng-show="showSearch" class="md-whiteframe-z1 md-hue-1 searchbar-show-hide">
    <div class="md-toolbar-tools">
        <md-button ng-click="showSearch = !showSearch" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
        </md-button>
        <h3 flex="10">
            Back
        </h3>
        <md-input-container md-theme="input" flex>
            <!--<label>enter search</label>-->
            <input ng-model="searchFilter" placeholder="Enter search">
        </md-input-container>
        <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>


<!--<div class="md-toolbar-tools">-->
    <!--<md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">-->
        <!--<ng-md-icon icon="menu"></ng-md-icon>-->
    <!--</md-button>-->
    <!--<h2 style="padding-left: 20px;"> The pageName</h2>-->
    <!--<span flex></span>-->
    <!--<md-button ng-click="goToTop()" class="md-icon-button" aria-label="Move To Top">-->
        <!--<ng-md-icon icon="expand_less"></ng-md-icon>-->
    <!--</md-button>-->
    <!--<md-button ng-click="showGridBottomSheet($event)">-->
        <!--<ng-md-icon icon="more_vert"></ng-md-icon>-->
    <!--</md-button>-->
<!--</div>-->

