<h1 layout='row' layout-align='center end'>Todo list</h1>

<div layout='columns' ng-repeat="task in main.todos | filter: main.todoService.searchFilter">
	<div flex-gt-sm='25'></div>

	<div flex layout='row' class="todoSection md-whiteframe-z2">


		<md-content flex>
			<div layout='row'>
				<md-button class="md-button ng-icon-lg"
						   aria-label="Check done button"
						   ng-disabled="main.thereIsATaskRunning && !task.isRunning"
						   ng-click="main.setTaskDone(task)">
					<ng-md-icon ng-if="!task.isDone"
								icon="check_box_outline_blank" size="42"
								style="fill: yellow"
								class="ng-icon-lg">
					</ng-md-icon>
					<ng-md-icon ng-if="task.isDone"
								icon="done" size="42"
								style="fill: green"
								class="ng-icon-lg">
					</ng-md-icon>
				</md-button>
				<p>{{task.runTime > 0 ? task.runTime : (task.avg !=0)? task.avg:task.runTime | date: 'HH:mm:ss' : 'UTC'}}</p>
				<md-button flex
						   ng-click="showDetails = !showDetails">
					{{task.title}}
					<md-divider></md-divider>
				</md-button>

				<md-button ng-hide="task.isDone || main.thereIsATaskRunning && !task.isRunning"
						   ng-click="main.toggleTimer(task);"

						   aria-label="Start or pause timer">
					<ng-md-icon icon="timer" style="fill:{{ task.isRunning? 'orange':'green' }}">
					</ng-md-icon>
				</md-button>
			</div>

			<div ng-show="showDetails"
				 class="searchbar-show-hide">
				<div layout='columns' layout-align='center center' layout-padding>
					<h5>[ More Details ]</h5>
				</div>

				<div offset-gt-sm='10' offset-sm='5' layout='row' style="font-size:large">
					<md-input-container flex="40" style="font-size:large">
						<label>Title</label>
						<input ng-model="task.title">
					</md-input-container>
				</div>
				<fieldset class="standard">
					<legend offset-gt-sm='10' offset-sm='5'><b>Time measurements</b></legend>
					<div layout="row" layout-align="space-around start">
						<p><b>Avg:</b> {{task.avg | date: 'HH:mm:ss' : 'UTC'}}</p>

						<p><b>Min:</b> {{task.min | date: 'HH:mm:ss' : 'UTC'}}</p>

						<p><b>Max:</b> {{task.max | date: 'HH:mm:ss' : 'UTC'}}</p>
					</div>
					<div layout="row" layout-align="space-around start">
						<p><b>Total dones:</b> {{ task.totalDones }}</p>
					</div>
				</fieldset>
				<br>

				<div layout="row" layout-align="space-around start">
					<md-button class="md-button">
						<ng-md-icon icon="check" size="40" class="ng-icon-lg" style="fill: green"></ng-md-icon>
						<div>Save</div>
					</md-button>
					<md-button class="md-button"
							   ng-click="main.resetTime(task)">
						<ng-md-icon icon="restore" size="40" class="ng-icon-lg" style="fill: #ffc628"></ng-md-icon>
						<div>Reset time</div>
					</md-button>
					<md-button class="md-button"
							   ng-click="main.deleteTask(task);">
						<ng-md-icon icon="delete" size="40" class="ng-icon-lg" style="fill: red"></ng-md-icon>
						<div>Delete</div>
					</md-button>
				</div>
			</div>
		</md-content>
	</div>

	<div flex-gt-sm='25'></div>
</div>
<!--New testing END-->




