<html lang="en" ng-app="StarterApp">
		<head>
			<link rel="stylesheet" href="angular-material.css">
			<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="stylesheet" href="material.min.css">
			<link rel="stylesheet" href="styles.css">
		</head>
	<body class=" mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

		<div ng-controller="AppCtrl as main">
			<md-toolbar>
					<header class="md-toolbar-tools" layout='row'>
						<md-button class="md-icon-button"
						 aria-label="Menu" hide-gt-sm flex='15'>
							<ng-md-icon icon="menu" style="fill:white">
							</ng-md-icon>
						</md-button>
						<div flex='33'>
							<h3>Saydone</h3>
						</div>
						<div flex layout-fill></div>
						<div hide-sm flex='25'>
						<br>
							<md-input-container md-no-float layout="row">
								<i class="material-icons">search</i>
								<input ng-model="searchFilter"
									type="text" placeholder="Search"
									 style="color:white">
							</md-input-container>
						</div>
						<div flex='15'></div>

					</header>
					<div class="mdl-layout__drawer">
					<div>test</div>
				</div>
				<md-button class="md-fab md-fab-top-right">
					<i class="material-icons">add</i>
				</md-button>
			</md-toolbar>

			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
				<md-content>
					<md-button ng-click="close()" class="md-primary">
						Close Sidenav Right
					</md-button>
			</md-content>
		</md-sidenav>

<!--		main-->
<h1 layout='row' layout-align='center end'>Todo list</h1>
<div layout='row' layout-align='center center'>
<!--	<div flex='25'></div>-->

		<md-content layout-padding flex=80 class="md-whiteframe-z2">

<!-- mdl-shadow--2dp-->
			<section   ng-repeat="task in main.todos | filter:searchFilter">
						<div layout="row">
								<md-button class="md-button ng-icon-lg" aria-label="Check done button"
													 ng-disabled="main.thereIsATaskRunning && !task.isRunning"
													 ng-click="main.setTaskDone(task)"
													 >
										<ng-md-icon ng-if="!task.isDone" icon="check_box_outline_blank" size="42"
																style="fill: yellow"
																class="ng-icon-lg">
										</ng-md-icon>
										<ng-md-icon ng-if="task.isDone" icon="done" size="42"
																style="fill: green"
																class="ng-icon-lg"></ng-md-icon>
								</md-button>

								<p>{{task.isRunning? task.runTime : (task.avg !=0)? task.avg:task.runTime | date: 'HH:mm:ss' : 'UTC'}}</p>

								<md-button flex ng-click="showDetails = !showDetails">{{task.title}}</md-button>

								<md-button ng-hide="task.isDone || main.thereIsATaskRunning && !task.isRunning"
										ng-click="main.toggleTimer(task);"

												aria-label="Start or pause timer">
										<ng-md-icon icon="timer" style="fill:{{ task.isRunning? 'orange':'green' }}">
										</ng-md-icon>

								</md-button>
						</div>

						<!--Showdetails-->
						<div ng-show="showDetails" class="searchbar-show-hide">
								<p>More Details</p>
								<fieldset class="standard" >
										<legend>Time measurements</legend>
										<div layout="row" layout-align="space-around start">
												<p>Avg: {{task.avg | date: 'HH:mm:ss' : 'UTC'}}</p>
												<p>Min: {{task.min | date: 'HH:mm:ss' : 'UTC'}}</p>
												<p>Max: {{task.max | date: 'HH:mm:ss' : 'UTC'}}</p>
										</div>
										<div layout="row" layout-align="space-around start">
												<p>Total dones: {{ task.totalDones }}</p>
										</div>
								</fieldset>
								<br>
								<md-input-container flex="50">
										<label>Title</label>
										<input ng-model="task.title">
								</md-input-container>
								<div layout="row" layout-align="space-around start">
										<md-button class="md-button">
												<ng-md-icon icon="check" size="40" class="ng-icon-lg" style="fill: green"></ng-md-icon>
												<div>Save</div>
										</md-button>
										<md-button class="md-button"
												ng-click="main.resetTime(task)">
												<ng-md-icon icon="restore" size="40" class="ng-icon-lg" style="fill: #ffc628"></ng-md-icon>
												<div>Reset time</div>
										</md-button>
										<md-button class="md-button"
												ng-click="main.deleteTask(task);">
												<ng-md-icon icon="delete" size="40" class="ng-icon-lg" style="fill: red"></ng-md-icon>
												<div>Delete</div>
										</md-button>
								</div>
						</div>
				<md-divider md-inset ng-if="!$last"></md-divider>
			</section>

		</md-content>
<!--<div flex='25'></div>-->
</div>
<!--END main-->

		</div>

		<!-- Angular Material Dependencies -->
		<script src="material.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-aria.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>

		<script src="angular-material.js"></script>
		<script src="testApp.js"></script>

	</body>
</html>
